<!-- Copyright © 2024 Alexander Järvheden. All rights reserved.-->
<HTML>

<head>
    <title>AJ-Invest</title>
    <link rel="stylesheet" href="../static/css/components.css">
</head>

<body>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <div>
        <!-----------------------------Navigationbar-------------------------------->
        <div class="navbar">
            <button>Home</button>
            <button>
                Stocks
            </button>
            <button>
                Account
            </button>
            <button>
                Financial terms
            </button>
        </div>
    </div>
    <!---------------------------------------------------------------->
    </div>

    <link rel="stylesheet" href="../static/css/footer.css">
    <div>
        <!---------------------------Footer-------------------------->
        <div class="footer">
            <a href="#">Contact</a>
        </div>
    </div>
</body>

</HTML>