<!-- Copyright © 2024 Alexander Järvheden. All rights reserved.-->
<HTML>

<head>
    <title>AJ-Invest</title>
    <link rel="stylesheet" href="../static/css/components.css">
</head>

<body>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <div>
        <!-----------------------------Navigationbar-------------------------------->
        <div class="navbar">
            <button>Home</button>
            <button>
                Stocks
            </button>
            <button>
                Account
            </button>
            <button>
                Financial terms
            </button>
        </div>
    </div>
    <!---------------------------------------------------------------->
    </div>
    <link rel="stylesheet" href="../static/css/home.css">
    <div class="home">
        <div>
            <h1>Purpose</h1>
            <h3>This plattform aims to facilitate investment strategies and decisions for new investors</h3>
        </div>
        <div>
            <h1>Comparisons</h1>
            <h4>Stocks, rates, certificates, indices, derivatives</h4>
        </div>
        <div><h1>Latest news</h1></div>
        <div><h1>Data</h1></div>
    </div>
    <link rel="stylesheet" href="../static/css/footer.css">
    <div>
        <!---------------------------Footer-------------------------->
        <div class="footer">
            <div class="container">
                <div class="yellow column"></div>
                <div class="yellow row"></div>
              </div>          
            <div>
            <a href="#">Contact</a>
        </div>
    </div>
</body>

</HTML>